body {
  font-size: 1.7em;
  line-height: 1.6em;
}
.editor-container [contenteditable=true] {
  padding: 2em;
  position: relative;
}

.drag-handle {
  width: 30px;
  height: 30px; 
  cursor: move;
  background: grey;
  border: 1px solid #000;
  position: absolute;

  left: 0;
  top: 8px;
  border-radius: 100%;
}

.placeholder {
  position: absolute;
  left: 2em;
  top: 2em;
  opacity: .3;
}

p {
  padding-left: 50px;
  margin: 0;
  position: relative;
  margin-bottom: 10px;
}

.drop-over {
  background: #f0f0f0;

}