* {
  box-sizing: border-box;
}

body {
  font-size: 1.7em;
  line-height: 1.6em;
}
[contenteditable=true] {
  padding: 2em;
  position: absolute;
  min-height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

.placeholder {
  position: absolute;
  left: 2em;
  top: 2em;
  opacity: .3;
  z-index: -1;
}

p {
  margin: 0;
  position: relative;
  margin-bottom: 10px;
}

.drop-over {
  background: #f0f0f0;

}

.toggle {
  user-select: none;
  cursor: pointer;
  z-index: 999;
}